@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
:root{
   --primery-color:#C5BEB4;
   --secondary-color:#C5BEB4;
   --gray-color:#C5BEB4;
}

body{
    background-color: #C5BEB4;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: large;
    letter-spacing: 0.1rem;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;

}

hr {
    margin: 2rem 0rem;
}
/* spaces  */

.margin-md{
    margin: 2rem;
}
/* container */

.flued-container{
    padding: 0rem 1rem;
}

.container{
    max-width :900px;
    width: 100%;
    margin: auto;
}


/* links */
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}
/* .primery-link{
    margin: 1rem auto;
    max-width: 140px;
    border-radius: 0.5rem;
   color:black;
   background-color: var(--primery-color);
   padding: 0.6rem 1.2rem;
   border-radius: 2rem; 
} 
.secondary-color{
   max-width: 140px;
   margin: 1rem;
   padding:0.6rem 1.2rem; 
    color: black;
    border-radius: 2rem;
    border: 2px solid var(--primery-color);
    
} */



.primery-link{
    text-decoration: none;
    background-color:#B63B12; 
    color: #C5BEB4;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
  }
  
  .secondary-color2{
    text-decoration: none;
    background-color:#B63B12;
    color: #C5BEB4;
    font-weight: 100;
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .secondary-color{
    text-decoration: none;
    background-color: #014737;
    color: #C5BEB4;
    font-weight: 100;
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 5px;
  }




/* BEM naming conventions for css */

/* listes  */
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.3rem;
}

/* navigation  */


.navigation {
    background-color: var(--primery-color);
    padding: 2rem ;
    /* border-bottom-left-radius: 1rem; */

}

/* .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
    color: black;


} */

.navigation .link {
    font-size: x-large;
    color: black;
}
.navigation  .nav-pills{
    text-align: center;
    margin: 0.2rem 0.5rem;
}
.navigation .linkactive {
    font-weight: bold;
    background-color: black;
    color: #C5BEB4;
}
/* hedder  */
.hero{
    padding: 2rem;
    padding-top: 1rem;
}
.hero .hero-img {
    max-width: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    padding: 1rem;  
    border-radius: 10rem;
    border: 5px solid black;
}
.hero .hero-heading{
    text-align:center ;
    padding-top: 1rem;
    color: var(--primery-color);
    background-color: black;
}

/* section  */
.section{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
     text-align: center; 
}

.section h1 ,p {
    text-align: center;
    
}
.section-two {
    border-radius: 1rem;
    background-color: var(--gray-color);
}
/* footer   */
.footer{
    /* background-color: var(--primery-color);
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem; */
    text-align:center ;
    padding-top: 1rem;
    color: var(--primery-color);
    background-color: black;
    padding: 1rem;
} 
.footer .link {
    font-size: x-large;
    padding: 1rem;
    color:var(--primery-color);
 }
 #footer-hedder {
    font-size: 50px;
} 
.footer ul{
    padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
background-color: var(--gray-color);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
  }

  .showcase-list2 {
    background-color:white;
        padding: 2rem;
        border-radius: 1rem;
        text-align: center;
        margin: 3rem auto;
      }


  .showcase-list h1 {
    margin: 0.5rem;
  }
  
  .showcase-list p {
    padding-bottom: 1rem;
  }

/* bloges  */

.showcase-blog {
    padding-bottom: 6rem;
  }
  
  @media (max-width: 900px) {
    body {
      max-width: 95%;
      width: 100%;
    }
  
    .list-item-inline {
      display: inline;
      padding: 0rem;
    }
  
    .flued-container {
      width: auto;
    }
  
    .primery-link{
      display: block;
    }
  }

.spacol .h1 span ,.h2 ,span {
    color: darkgreen;
    
    
}